# Environment archivos
.env
*.env
backend/.env

# Node modules
node_modules/
backend/node_modules/
frontend/node_modules/

# IDE/OS archivos
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Build archivos
dist/
build/